<a href="https://colab.research.google.com/github/PithanPw/hello-world/blob/master/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**5. Data Structures**

**5.1 More on Lists**

The list data type has some more methods. Here are all of the methods of list objects:

list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

list.extend(iterable)
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

list.clear()
Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
Return the number of times x appears in the list.

list.sort(key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
Reverse the elements of the list in place.

list.copy()
Return a shallow copy of the list. Equivalent to a[:].

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))            #list.count(x)
print(fruits.count('tangerine'))
print(fruits.index('banana'))           #list.index(x,[start],[end])
print(fruits.index('banana', 4))
fruits.reverse()                 #list.reverse()
print(fruits)
fruits.append('grape')           #list.append(x)
print(fruits)
fruits.sort()                    #list.sort()
print(fruits)

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [ ]:
# append(),extend(),insert()
list_a = [1,2,3,"test"]
print(list_a)
list_a.append((2,3))
list_a.extend((2,3))      #list.extend(x) unpack x and append to list
list_a.insert(2,9)
print(list_a)

[1, 2, 3, 'test']
[1, 2, 9, 3, 'test', (2, 3), 2, 3]

5.1.1. Using Lists as Stacks

use a list as a stack (LIFO)

In [ ]:
# use a list as a stack
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop()) #list.pop() return last element and remove it from the list
print(stack)
print(stack.pop())
print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
[3, 4, 5]

5.1.2. Using Lists as Queues

use a list as a queues (FIFO)

In [ ]:
from collections import deque   # Implement a queue, use collections.deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
print(queue) 

queue.append("Graham")          # Graham arrives
print(queue) 

ql = queue.popleft()            # The first to arrive now leaves deque.popleft()
print(ql,' out')
print(queue) 

ql = queue.popleft()            # The second to arrive now leaves 
print(ql,' out')
print(queue)                    # Remaining queue in order of arrival

deque(['Eric', 'John', 'Michael', 'Terry'])
deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
Eric  out
deque(['John', 'Michael', 'Terry', 'Graham'])
John  out
deque(['Michael', 'Terry', 'Graham'])

**5.1.3. List Comprehensions**

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
[(x,y,z) for x in [1,2] for y in [10,11,12] for z in [101,102,103]]

[(1, 10, 101),
 (1, 10, 102),
 (1, 10, 103),
 (1, 11, 101),
 (1, 11, 102),
 (1, 11, 103),
 (1, 12, 101),
 (1, 12, 102),
 (1, 12, 103),
 (2, 10, 101),
 (2, 10, 102),
 (2, 10, 103),
 (2, 11, 101),
 (2, 11, 102),
 (2, 11, 103),
 (2, 12, 101),
 (2, 12, 102),
 (2, 12, 103)]

In [ ]:
vec = [-4, -2, 0, 2, 4]
print(vec)
print([x*2 for x in vec])
print([x for x in vec if x >= 0])
print([abs(x) for x in vec])
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print(freshfruit)
print([weapon.strip() for weapon in freshfruit])     # list.strip()
# If the expression is a tuple e.g (a,b), it must be parenthesized.
print([(x, x**2) for x in range(6)])

# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], ['a',4,5,6], [7,8,9,1]]
lst=[num for elem in vec for num in elem]
print(lst)

[-4, -2, 0, 2, 4]
[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['  banana', '  loganberry ', 'passion fruit  ']
['banana', 'loganberry', 'passion fruit']
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
[1, 2, 3, 'a', 4, 5, 6, 7, 8, 9, 1]

In [ ]:
from math import pi
[(i,str(round(pi, i))) for i in range(1, 6)]

[(1, '3.1'), (2, '3.14'), (3, '3.142'), (4, '3.1416'), (5, '3.14159')]

**5.1.4. Nested List Comprehensions**

In [ ]:
# A 3x4 matrix implemented as a list of 3 lists of length 4
matrix = [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],
          ]
print(matrix)
print(matrix[0])
# Unpacking element
print(*matrix) 
# transpose rows and columns
t_matrix = [[row[i] for row in matrix] for i in range(4)]
print(t_matrix)

transposed = []
for i in range(4):
  transposed.append([row[i] for row in matrix])
print(transposed)

tr_matrix = list(zip(*matrix)) # Zip function and * unpacking argument list
print(tr_matrix)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[1, 2, 3, 4]
[1, 2, 3, 4] [5, 6, 7, 8] [9, 10, 11, 12]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

**5.2. The del statement**

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print(a)

del a[2:4]
print(a)

del a[:]
print(a)

[1, 66.25, 333, 333, 1234.5]
[1, 66.25, 1234.5]
[]

In [ ]:
# del, pop(), remove()
list1 = [1,2,3,'hello',4,5,6,7]
print(list1[:])

del list1[2]
print(list1[:])

a = list1.pop()
print(a,'\n',list1[:])

a = list1.pop(2)
print(a,'\n',list1[:])

list1.remove(2)
print(list1[:])

[1, 2, 3, 'hello', 4, 5, 6, 7]
[1, 2, 'hello', 4, 5, 6, 7]
7
 [1, 2, 'hello', 4, 5, 6]
hello
 [1, 2, 4, 5, 6]
[1, 4, 5, 6]

**5.3. Tuples and Sequences**

Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking (see later in this section) or indexing (or even by attribute in the case of namedtuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

In [ ]:
t = 12345, 54321, 'hello!'
print(t[0])
print(t)
"""
>>> # Tuples are immutable:
... t[0] = 88888
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
"""
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
print(u)
v = ([1, 2, 3], [3, 2, 1])
print(v)

x,y,z = t
print(x,y,z)

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
([1, 2, 3], [3, 2, 1])
12345 54321 hello!

In [ ]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(len(empty))

print(len(singleton))

print(singleton)

0
1
('hello',)

**5.4. Sets**

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

{} Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
print('orange' in basket)          # fast membership testing
print('crabgrass' in basket)
a = set('abracadabra')
b = set('alacazam')
print(a,b)
print(a | b)                              # letters in a or b or both
print(a - b)                              # letters in a but not in b
print(a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b but not both (exclusive or)

a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)

{'apple', 'banana', 'orange', 'pear'}
True
False
{'d', 'r', 'a', 'b', 'c'} {'l', 'a', 'c', 'm', 'z'}
{'d', 'r', 'l', 'a', 'b', 'c', 'm', 'z'}
{'d', 'b', 'r'}
{'a', 'c'}
{'l', 'd', 'b', 'r', 'm', 'z'}
{'d', 'r'}

**5.5. Dictionaries**

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)

print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

list(tel)
print(tel)

print(sorted(tel))
print(tel)

print('guido' in tel)

print('jack' not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['guido', 'irv', 'jack']
{'jack': 4098, 'guido': 4127, 'irv': 4127}
True
False

In [ ]:
tel_1 = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
print(tel_1)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

**5.6. Looping Techniques**

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():    # dict.item() read key and value at the same time
    print(k, v)

gallahad the pure
robin the brave

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i,v)

0 tic
1 tac
2 toe

In [ ]:
# loop over two or more sequences at the same time, the entries can be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [ ]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction 
# and then call the reversed() function.
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):         # fuction sorted()
    print(f)

apple
banana
orange
pear

In [ ]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

**5.7. More on Conditions**

In [ ]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2
print(non_null)
non_null = string1 or string3
print(non_null)
non_null = string1 or string2 or string3
print(non_null)

Trondheim
Hammer Dance
Trondheim

In [ ]:
print((1, 2, 3)              < (1, 2, 4))
print([1, 2, 3]              < [1, 2, 4])
print('ABC' < 'C' < 'Pascal' < 'Python')
print((1, 2, 3, 4)           < (1, 2, 4))
print((1, 2)                 < (1, 2, -1))
print((1, 2, 3)             == (1.0, 2.0, 3.0))
print((1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4))

True
True
True
True
True
True
True